{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "decorators": true,
      "decoratorsBeforeExport": true
    },
    "transform": null,
    "target": "es2021"
  }
}
