name: CI

on:
- push
- pull_request

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Node
      uses: actions/setup-node@v2-beta
      with:
        node-version: 14.x
    - name: Install build dependencies
      run: sudo apt-get update && sudo apt-get install -y libfmt-dev
    - name: Install
      run: CXX=clang++-9 yarn
    - name: Build
      run: yarn build
    - name: Lint
      run: yarn lint
    - name: Check style
      run: yarn format --check
